.wrapper{
    min-height: 100vh;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.services-box{
    display:flex;
    flex-direction: row;
    width:100%;
    height:90px;
    align-items: center;
    justify-content: center;
    gap:25px;

}
.services-row-box{
    padding:20px;
    margin:20px;
}
.box-invisible{
    background-color: transparent;
    width:20px;
}
.message-box{
    display:flex;
    flex-direction:column;
    width:100%;
    gap:5px;
    align-items: center;
    justify-content: center;
}
.message-text-large{
    font-size: 40px;
    color: #4248D1;
    font-weight: bold;
}
.message-text-small{
    font-size: 15px;
    color: black;
    font-weight: bold;
}
.services-message{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}