h1{
    text-align: center;
    color: #4248D1;
}
body{
    font-family: sans-serif;
}
.logo{
    background-image: url('./assets/Logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    width:150px;
    height:40px;
}