h1{
    text-align: center;
    color: #4248D1;
}
body{
    font-family: sans-serif;
}
.logo{
    background-image: url('./assets/Logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    width:150px;
    height:40px;
}

.user-pic-header{
    width: 40px;
    height: 40px;
}
.user-pic-button{
    background: #F8FCFF;
    border: none;
    overflow: hidden;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}
.user-pic-button:hover{
    background: #d9dcdf;
}