.header-container-row{
    display:flex;
    flex-direction: row;
    width:100%;
    height:60px;
    background-color: #F8FCFF;
    align-items: center;
    padding-top: 10px;
}
.box{
    margin:5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.user-pic-header{
    width: 40px;
    height: 40px;
}
.user-pic-button{
    background: #F8FCFF;
    border: none;
    overflow: hidden;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    margin-right: 10px;
}
.user-pic-button:hover{
    cursor: pointer;
    background: #d9dcdf;
}