.profile-container {
    border-width: 20px solid #1a202c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 120vh;
  }
  
  .profile-card {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    border-radius: .5rem;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
    padding: 1rem;
  }
  
  .user-pic {
    width: 150px;
    height: 150px;
    margin-right: 20px; /* Adjust margin for spacing */
  }
  
  .profile-user-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  .profile-box {
    display:flex;
    flex-direction:column;
    height:auto;
    width: auto;
  }
  
.profile-input {
    width: 90%;
    padding: 10px 1rem;
    border-radius: 10px;
    outline: 2px solid #4248d1;
    border: 0;
    transition: 0.25s;
    background-color: #e2e2e2;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  
  .profile-input:focus {
    outline-offset: 5px;
    background-color: #fff;
  }
  
  .profile-input:focus::placeholder {
    color: transparent;
  }
  
  .profile-attribute{
    color:black;
    font-weight: bold;
  }
  .profile-pic{
    display:flex;
    flex-direction: row;
    align-items: center;
  }
  .dorm-box{
    display:flex;
    flex-direction:column;
  }
  .dorm-information-box{
    display:flex;
    flex-direction: row;
    gap:10px;
  }
  .dorm-interactions-box{
    display: flex;
    flex-direction: row;
    gap:5px;
  }
  .dorm-information-text{
    color:blue;
    font-weight: bold;
  }
  