.profile-container {
    border-width: 20px solid #1a202c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 120vh;
  }
  
  .profile-card {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    border-radius: .5rem;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
    padding: 1rem;
  }
  
  .user-pic {
    width: 150px;
    height: 150px;
    margin-right: 20px; /* Adjust margin for spacing */
  }
  
  .profile-user-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  .profile-box {
    margin-bottom: 10px;
    max-height: 50px;
    width: auto;
  }
  
  .profile-attribute {
    color: #4248D1;
    font-weight: 600;
    display: inline-block; /* Display as inline-block for same line appearance */
  }
  
  .profile-attribute-value {
    font-weight: 400;
    color: #1a202c;
    display: inline-block; /* Display as inline-block for same line appearance */
    margin-left: 5px; /* Adjust margin for spacing between title and value */
  }
  