.cleaning-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.cleaning-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.cleaning-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.time-slot-label {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
}

.time-slot-select {
  width: 100%; /* Ensure it spans the full container width */
  margin-bottom: 20px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer; /* Indicates this is selectable */
}

.submit-button {
  background-color: #3f71cc;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px; /* Gives space between the dropdown and the button */
}

.submit-button:hover {
  background-color: #2e5ab1;
}

.calendar-container {
  margin-bottom: 20px;
}

.reserved-slot {
  color: #aaa;
  background-color: #f2f2f2; 
}

.fc-event .fc-event-title, .fc-event .fc-event-time {
  white-space: normal; 
}

.fc .fc-timegrid-slot, .fc .fc-timegrid-slot-label {
  height: 50px; 
}

.fc-event {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2px; 
  font-size: 10px;
  margin: auto;
}

.fc .fc-timegrid-slot {
  min-height: 2em; /* Adjust minimum height as needed */
}
