.cleaning-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.cleaning-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.cleaning-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.time-slot-label {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
}

.time-slot-select {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

.submit-button {
  background-color: #3f71cc;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

.submit-button:hover {
  background-color: #2e5ab1;
}

.calendar-container {
  margin-bottom: 20px;
}

.reserved-slot {
  color: #aaa;
  background-color: #f2f2f2;
}

.fc-event .fc-event-title,
.fc-event .fc-event-time {
  white-space: normal;
}

.fc .fc-timegrid-slot,
.fc .fc-timegrid-slot-label {
  height: 50px;
}

.fc-event {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2px;
  font-size: 10px;
  margin: auto;
}

.fc .fc-timegrid-slot {
  min-height: 2em;
}

.confirm-reservation-cleaning {
  background-color: #3f71cc;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  margin-right: 20px;
}

.cancel-reservation-cleaning {
  background-color: #3f71cc;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}
.edit-slot-box{
  display:flex;
  align-items: center;
  justify-content: center;
  width:100%;
  height:auto;
  min-height:20px;
}
.modification-box{
  display:flex;
  gap:7px;
  flex-direction: column;
  min-height:80px;
  height:auto;
}
.confirmation-box{
  display:flex;
  flex-direction: row;
  gap:15px;
  padding:5px;
  width:100%;
  align-items: center;
  justify-content: center;
}